@{
    ViewData["Title"] = "CENTRO";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Soy Adolfo</a>.</p>
</div>
